.tooltipContainer {
    position: relative;
    cursor: pointer;
  }
  
  .tooltipText {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s;
  }
  
  .tooltipContainer:hover .tooltipText {
    visibility: visible;
    opacity: 0.9;
  }
  
  .hoverText {
    color: black;
    transition: color 0.2s;
  }
  
  .tooltipContainer:hover .hoverTextThumbsUp {
    color: rgb(127, 297, 195);
  }