@tailwind base;
@tailwind components;
@tailwind utilities;

body, div, a, button {
    color: rgb(21, 21, 21);
    font-family: HelveticaNeue, arial;
    font-size: 14px;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Custom Utility Class */
.custom-text-color {
  @apply text-customBlue hover:text-customBrightBlue dark:text-white;
}